<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/style.css">
</head>

<body>
    <div class="contenido">
        <h1>Relgas</h1>
        <ul>
            <li>Primera regla sajdwte fdasfoasdkdfopjhfgodasfihsnf osaj fddsafg owehod f9ihjio kcnxasif dsfdsfdhaixkcm asfhn iowasd
                gfhjiopdsajfoihdgUIAHSIFJSDfo sjaod pf ksklhfniakj sdsadnfasifdj osiahfiod sjoasdjfpsa sdajofjasokd psaldf pkfwrpel.</li>
            <li>Primera regla sajdfihsnf osaj fosjaodpfksklhfniakjsdpsa</li>
            <li>Primera regla sajdfihsnf osaj fosjaodpfksklhfniakjsdpsa</li>
            <li>Primera regla sajdfihsnf osaj fosjaodpfksklhfniakjsdpsa</li>
            <li>Primera regla sajdfihsnf osaj fosjaodpfksklhfniakjsdpsa</li>
            <li>Primera regla sajdfihsnf osaj fosjaodpfksklhfniakjsdpsa</li>
            <li>Primera regla sajdfihsnf osaj fosjaodpfksklhfniakjsdpsa</li>
            <li>Primera regla sajdfihsnf osaj fosjaodpfksklhfniakjsdpsa</li>
            <li>Primera regla sajdfihsnf osaj fosjaodpfksklhfniakjsdpsa</li>
        </ul>
    </div>
    <div class="regreso">
        <a href="./../index.html"><button>Regresar</button></a>
    </div>
</body>

</html>