<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/style.css">
</head>

<body>
    <div class="contenido">
        <div class="titulo Principal">
            <h1>Bienvenidos a Carta Alta o Baja</h1>
            <p>Arriesgate y adivina si tu carta es mayor o menor</p>
        </div>
        <div class="juego">
            <div class="crupier">
                <h2>Crupier</h2>
                <img src="#" alt="cartaCrupier" id="cartaCrupier">
            </div>
            <div class="jugador">
                <h2>Tu carta </h2>
                <img src="#" alt="cartaJugador" id="cartaJugador">
            </div>
            <div class="cartasOcultas">
                <img src="#" alt="carta1" id="carta1">
                <img src="#" alt="carta2" id="carta2">
                <img src="#" alt="carta3" id="carta3">
                <img src="#" alt="carta4" id="carta4">
            </div>
            <div></div>
                <button id="alta">Jugar Alta</button>
                <button id="baja">Jugar Baja</button>
                <button id="reinicio">Reiniciar</button>
            </div>
            <div class="resultado">

            </div>
        </div>
    </div>
</body>
<script src="./script/scprit.js"></script>

</html>