<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carta Clasica</title>
    <link rel="shortcut icon" href="./media/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="./style/style.css">
</head>

<body>
    <div class="contenido">
        <div class="rules">
            <a href="./../rules/index2.html">
                <h1>Como se juega</h1>
                <img src="./media/reglas2.png" alt="rules">
            </a>
        </div>
        <div class="seleccion" id="seleccion">
            <div class="titulo">
                <h3>Seleccione a Que Tipo de Mano Te Quieres Arriesgar</h3>
            </div>
            <div class="btn">
                <button id="alta">Jugar Alta</button>
                <button id="baja">Jugar Baja</button>
            </div>
        </div>
        <div class="crupier">
            <h2>Crupier: </h2>
            <img src="./media/reverso.jpeg" alt="cartaCrupier" id="cartaCrupier" class="cartaCrupier">
        </div>
        <div class="jugador">
            <h2>Tu carta: </h2>
            <img src="./media/prueba.jpeg" alt="cartaJugador" id="cartaJugador" class="cartaJugador">
        </div>
        <div class="cartasOcultas">
            <img src="./media/prueba.jpeg" alt="carta1" id="carta1" class="cartasOcultas">
            <img src="./media/prueba.jpeg" alt="carta2" id="carta2" class="cartasOcultas">
            <img src="./media/prueba.jpeg" alt="carta3" id="carta3" class="cartasOcultas">
            <img src="./media/prueba.jpeg" alt="carta4" id="carta4" class="cartasOcultas">
        </div>
        <div id="modalResultado" class="modal">
            <div class="modal-contenido">
                <p id="mensajeResultado"></p>
                <div class="modal-botones">
                    <button id="reinicio">Reiniciar</button>
                    <button id="volverMenu">Volver al Menu Principal</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./script/script.js"></script>

</html>