<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reglas de juego</title>
    <link rel="shortcut icon" href="./media/logoRules.png" type="image/x-icon">
    <link rel="stylesheet" href="./style/style.css">
</head>

<body>
    <div class="contenido">
        <h1>Reglas de predicción</h1>
        <section class="regla">
            <h2>1. Cómo se juega:</h2>
            <p><strong>Se reparten 2 cartas:</strong> Una para el crupier y una para ti (ambas ocultas inicialmente).
            </p>
        </section>
        <section class="regla">
            <h2>2. Haces tu predicción: Eliges entre "Alta" o "Baja"</h2>
            <ul>
                <li><strong>Alta:</strong> Crees que tu carta será mayor que la del crupier.</li>
                <li><strong>Baja:</strong> Crees que tu carta será menor que la del crupier.</li>
            </ul>
        </section>
        <section class="regla">
            <h2>3. Valores de las cartas</h2>
            <ul>
                <li>As = 1</li>
                <li>2 a 10 = Su valor numérico</li>
                <li>Jota (J) = 11</li>
                <li>Reina (Q) = 12</li>
                <li>Rey (K) = 13</li>
            </ul>
        </section>
        <section class="regla">
            <h2>4. Se revelan las cartas:</h2>
            <ul>
                <li>Ambas cartas se muestran.</li>
            </ul>
        </section>
        <section class="regla">
            <h2>5. Condiciones para ganar:</h2>
            <ul>
                <li><strong>Si el jugador eligió 'Alta'</strong>: Gana si su carta es mayor que la del crupier. Pierde
                    si es menor o igual.</li>
                <li><strong>Si el jugador eligió 'Baja'</strong>: Gana si su carta es menor que la del crupier. Pierde
                    si es mayor o igual.</li>
                <li><strong>Empates</strong>: Si las cartas tienen el mismo valor, el jugador pierde.</li>
            </ul>
        </section>
        <section class="regla">
            <h2>6. Reinicio</h2>
            <p>Tras cada ronda, el jugador puede iniciar una nueva partida, generando una nueva baraja y repartiendo
                nuevas cartas (todas ocultas).</p>
        </section>
    </div>
    <div class="regreso">
        <a href="./../../index.html"><button>Regresar</button></a>
    </div>
</body>

</html>