@font-face {
    font-family: nueva;
    src: url(./../../../fonts/Kalam-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: url(./../media/fondo2.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
}

.contenido {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5vh;
    width: 100vw;
    min-height: 100vh;
}

.titulo {
    font-size: 3.5rem;
    margin: 3vw;
    color: white;
}

.contenido a {
    text-decoration: none;
    color: white;
    cursor: default;
}

.contenido .rules {
    display: flex;
    padding: 2vw;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    width: 24vw;
    min-width: 180px;
    max-width: 300px;
    height: 0;
    color: white;
    font-family: nueva;
}

.contenido .rules img {
    width: 18vw;
    min-width: 120px;
    max-width: 200px;
    cursor: pointer;
}

.contenido .rules:hover {
    animation: saltos 0.8s ease-in-out infinite;
}

.contenido .rules h1 {
    cursor: pointer;
    font-size: 2vw;
}

@keyframes saltos {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.contenido .seleccion {
    display: none;
}

.contenido .crupier {
    margin-bottom: 10vh;
}

.contenido .jugador {
    margin-bottom: 5vh;
}

.contenido .crupier,
.jugador {
    font-size: 3vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -4vh;
    margin-right: 10vw;
}

.contenido .crupier h2,
.jugador h2 {
    font-size: 3vw;
    color: white;
    margin-right: 5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenido .crupier img,
.jugador img,
.cartasOcultas img {
    height: 20vw;
    min-height: 100px;
    max-height: 200px;
}

.cartasOcultas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 5vw;
}

.contenido .final {
    display: none;
}

@media (max-width: 480px) {
    .contenido a {
        text-decoration: none;
        margin: 0;
        color: white;
        cursor: default;
        margin-left: auto;
        padding: 0;
    }
}