@font-face {
    font-family: nueva;
    src: url(./../fonts/Kalam-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: url(./../media/fondo.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    color: white;
    font-family: nueva;
}

.contenido {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contenido .tituloPrincipal {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.contenido .tituloPrincipal h1 {
    font-size: 5rem;
    font-weight: 900;
}

.contenido .tituloPrincipal p {
    font-size: 2.5rem;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;
}

.contenido button {
    transition: all 0.8s ease-out;
}

.contenido .botones {
    display: flex;
    flex-direction: column;
    width: 300px;
    position: relative;
    top: 280px;
    margin-left: auto;
    margin-right: auto;
}

.contenido .botones button {
    padding: 20px;
    margin: 10px;
    width: 100%;
    border: 2px solid #646464;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -5px 5px 5px #000000;
    cursor: pointer;
    margin-bottom: 35px;
}

.contenido .botones a {
    cursor: default;
}

.contenido .perfil {
    position: relative;
    width: 160px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 150px;
    top: 70px;
}

.contenido .perfil button {
    padding: 20px;
    margin: 10px;
    border: 2px solid #646464;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -5px 5px 5px #000000;
}

.contenido button:hover {
    transform: scale(1.2);
}

.contenido button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}

.estadisticas, .juego {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.contenidoEst, .contenidoJ {
    background-color: #373737;
    width: 600px;
    margin: 100px auto;
    padding: 20px;
    border: 2px solid #646464;
    border-radius: 5px;
    box-shadow: -5px 5px 5px #000000;
    text-align: center;
}

.contenidoEst h2, .contenidoJ h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.ver, .opciones {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.info {
    background-color: #555;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    box-shadow: 0 0 20px black;
}

.info p {
    font-size: 1.2rem;
    font-weight: 600;
}

.info span {
    font-size: 2rem;
    font-weight: 900;
}

.contenidoEst button, .contenidoJ button {
    margin: 10px;
    border: 2px solid #646464;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -5px 5px 5px #000000;
    padding: 15px;
}

.tituloJuego {
    margin-top: 30px;
    margin-bottom: 30px;
}

.juegoRapido, .clasico {
    position: relative;
    width: 200px;
    padding: 10px;
}

.botonJuego {
    position: relative;
    overflow: hidden;
}

.botonJuego.rapido::after, .botonJuego.clasico::after {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: none;
}

.botonJuego.rapido:hover::after {
    animation: cuadradosCayendo 1s linear infinite;
    background: rgb(0, 255, 255);
}

.botonJuego.clasico:hover::after {
    animation: cuadradosCayendo 1s linear infinite;
    background: rgb(255, 166, 0);
}

@keyframes cuadradosCayendo {
    0% {
        transform: translateY(-100%);
    }
    25% {
        transform: translateY(-50%);
        opacity: 0.8;
    }
    50% {
        transform: translateY(0);
        opacity: 0.6;
    }
    75% {
        transform: translateY(50%);
        opacity: 0.4;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}